* {
  margin:0;
  padding: 0;
}

body{
  background-image: url("img/clock.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.datetime {
  color: #fff;
  background: #10101E;
  font-family: 'Padauk', sans-serif;
  width: 340px;
  padding: 20px 15px;
  border: 3px solid #42F509;
  border-radius: 5px;
  background-color: rgba(16, 16, 50, 0.9);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.3));
  transition: 0.5s;
  transition-property: background, box-shadow;
}


.datetime:hover{
  background: #92F571;
  box-shadow: 0 0 30px #2E94E3;
}

.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #42F509;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
.title{
  font-family: 'Padauk', sans-serif;
  background: #10101E;
  padding: 20px;
  position:fixed;
  margin-right: 5px;
  margin-bottom: 300px;
  font-size: 4rem;
  color: #fff;;
  text-transform: uppercase;
  border: 3px solid #42F509;
  border-radius: 5px;
  background-color: rgba(16, 16, 50, 0.8);
}
.title:hover{
  background: #92F571;
  box-shadow: 0 0 50px #2E94E3;
  transition: 0.3s;
  transition-property: background, box-shadow;
}
